phpserver:
  #image: mwphp:latest
  build: ./php-fpm
  #log_driver: syslog
  #extra_hosts:
  #    elasticsearch1: 10.1.2.100
  #expose:
  #  - "9000"
  ports:
    - 9000
  volumes:
    - ./php-fpm/www:/var/www/html:ro

nginx:
  #image: mwnginx:latest
  build: ./nginx
  #log_driver: syslog
  links:
    - phpserver
  ports:
    - 80:80
  volumes:
    - ./nginx/www:/usr/share/nginx/html:ro
